<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />

    <title>TanamSaja -- Sistem Rekomendasi Tanaman Pangan</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/assets/css/templatemo-chain-app-dev.css" />
    <link rel="stylesheet" href="../static/assets/css/animated.css" />
    <link rel="stylesheet" href="../static/assets/css/owl.css" />
    <link rel="stylesheet" href="../static/assets/css/custom.css" />
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../static/assets/images/logo.png" alt="TanamSaja" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section">
                                <a href="#top" class="active">Home</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="#predict">Predict</a>
                            </li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>Sistem Rekomendasi Tanaman Pangan Untuk Budidaya</h2>
                                        <p>
                                            Kami akan memberikan rekomendasi tanaman pangan berdasarkan dari hasil prediksi dengan memanfaatkan Machine Learning untuk membantu anda dalam memilih tanaman yang tepat untuk dibudidayakan.
                                        </p>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-secondary">
                        <a href="#predict">Prediksi Sekarang</a>
                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="assets/images/slider-dec.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container px-4 px-lg-5 h-150" id="predict">
        <div class="row">
            <h3 style="text-align: center;">Prediksi Tanaman Pangan</h3>
        </div>
        <br>
        <br>
        <form action="{{url_for('predict')}}" method="post">
            <div class="row">
                <div class="col">
                    <label for="n" class="form-label"><b>Nilai Nitrogen dalam Tanah (N)</b></label
            >
            <input
              type="number"
              class="form-control form-control-lg"
              name="n"
              placeholder="0"
              min="0"
              required="required"
              autocomplete="off"
            /><br /><br />
          </div>
          <div class="col">
            <label for="p" class="form-label"
              ><b>Nilai Phosphorous(P) dalam Tanah</b></label
            >
            <input
              type="number"
              class="form-control form-control-lg"
              name="p"
              placeholder="0"
              min="0"
              required="required"
              autocomplete="off"
            /><br /><br />
          </div>
          <div class="col">
            <label for="k" class="form-label"
              ><b>Nilai Potassium(K) dalam Tanah</b></label
            >
            <input
              type="number"
              class="form-control form-control-lg"
              name="k"
              placeholder="0"
              min="0"
              required="required"
              autocomplete="off"
            /><br /><br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="Temperature" class="form-label"
              ><b>Temperature dalam celcius</b></label
            >
            <input
              type="number"
              id="floatNumber"
              class="form-control form-control-lg"
              name="Temperature"
              placeholder="0.00"
              min="0"
              step=".01"
              required="required"
              autocomplete="off"
            /><br /><br />
          </div>
          <div class="col">
            <label for="Humidity" class="form-label"
              ><b>Humidity dalam percent</b></label
            ><br />
            <input
              type="number"
              class="form-control form-control-lg"
              name="Humidity"
              placeholder="0"
              min="0"
              required="required"
              autocomplete="off"
            /><br /><br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="PH" class="form-label"
              ><b>Tekanan PH dalam tanah</b></label
            ><br />
            <input
              type="number"
              id="floatNumber"
              class="form-control form-control-lg"
              name="PH"
              placeholder="0.00"
              min="0"
              step=".01"
              required="required"
              autocomplete="off"
            /><br /><br />
          </div>
          <div class="col">
            <label for="rain_fall" class="form-label"
              ><b>Curah Hujan dalam millimeters (mm)</b></label
            ><br />
            <input
              type="number"
              id="floatNumber"
              class="form-control form-control-lg"
              name="rain_fall"
              placeholder="0.00"
              min="0"
              step=".01"
              required="required"
              autocomplete="off"
            /><br /><br />
          </div>
        </div>
        <button class="btn btn-primary btn-xl">Prediksi</button>
        <br />
      </form>
    </div>
    <div id="result">
      <center><img
        style="width: 50%; height: auto;"
        src="data:image/png;base64, {{ plot_url }}" alt="Hasil Rekomendasi"
      /></center>
      
    </div>

    <div id="about" class="pricing-tables">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
              <h4>TanamSaja</h4>
              <img src="assets/images/heading-line-dec.png" alt="" />
              <p>
                TanamSaja merupakan hasil project capstone dari salah satu team
                SIB Dicoding 2021. Tujuan kami membuat website ini untuk
                membantu merekomendasikan tanaman pangan yang tepat sebelum anda
                mencoba budidaya tanaman pangan.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pricing-item-pro">
              <h4>Team ID: CSD-090</h4>
              <div class="icon">
                <img
                  src="../static/assets/images/weka.png"
                  alt="Foto Weka"
                  width="600px"
                />
              </div>
              <ul class="relative-ul">
                <li>Komang Wiweka Premana</li>
                <li>M298R4298</li>
                <li>Pengembang Machine Learning dan Front End Web</li>
                <div class="absolute-sosial-media">
                  <span class="badge-black"><a href="#">GitHub</a></span>
                  <span class="badge-black"><a href="#">Linkedin</a></span>
                  <span class="badge-black"><a href="#">Instagram</a></span>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pricing-item-pro">
              <h4>Team ID: CSD-090</h4>
              <div class="icon">
                <img
                  src="../static/assets/images/sinta.png"
                  alt="Foto Sinta"
                  width="600px"
                />
              </div>
              <ul class="relative-ul">
                <li>Anak Agung Sinta Trisnajayanti</li>
                <li>M014V4046</li>
                <li>Pengembang Machine Learning dan Front End Web</li>
                <div class="absolute-sosial-media">
                  <span class="badge-black"><a href="#">GitHub</a></span>
                  <span class="badge-black"><a href="#">Linkedin</a></span>
                  <span class="badge-black"><a href="#">Instagram</a></span>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Kontak Kami</h4>
              <p><a href="mailto:wiwekapremana@gmail.com?subject = Feedback&body = Message">wiwekapremana@gmail.com<a></p>
              <p><a href="mailto:wiwekapremana@gmail.com?subject = Feedback&body = Message">wiwekapremana@gmail.com<a></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Tentang Kami</h4>
              <ul>
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Prediksi</a></li>
                <li><a href="#">Tentang</a></li>
              </ul>

            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Free Apps</a></li>
                <li><a href="#">App Engine</a></li>
                <li><a href="#">Programming</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">App News</a></li>
              </ul>
              <ul>
                <li><a href="#">App Dev Team</a></li>
                <li><a href="#">Digital Web</a></li>
                <li><a href="#">Normal Apps</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>About Our Company</h4>
              <div class="logo">
                <img src="assets/images/white-logo.png" alt="" />
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>
                Copyright © 2022 Chain App Dev Company. All Rights Reserved.
                <br />Design:
                <a
                  href="https://templatemo.com/"
                  target="_blank"
                  title="css templates"
                  >TemplateMo</a
                ><br />
                Distributed By:
                <a
                  href="https://themewagon.com/"
                  target="_blank"
                  title="Bootstrap Template World"
                  >ThemeWagon</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/owl-carousel.js"></script>
    <script src="../static/assets/js/animation.js"></script>
    <script src="../static/assets/js/imagesloaded.js"></script>
    <script src="../static/assets/js/popup.js"></script>
    <script src="../static/assets/js/custom.js"></script>
  </body>
</html>